# Example .env for alkosto_project
# Copy this file to .env and fill the values (do NOT commit .env)

MONGO_URI="mongodb+srv://<user>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority"
MONGO_DATABASE=alkosto
